<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="top.yms"></context:component-scan>
    <!-- Mapper 扫描器 -->
<!--    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
<!--        &lt;!&ndash; 扫描 cn.wmyskxz.mapper 包下的组件 &ndash;&gt;-->
<!--        <property name="basePackage" value="top.yms"/>-->
<!--    </bean>-->

    <bean id="accountService" scope="singleton" class="top.yms.service.impl.AccountServiceImpl">
        <property name="userService" ref="userService"></property>
    </bean>
    <bean id="userService" scope="singleton" class="top.yms.service.impl.IUserServiceImpl">
        <property name="accountService" ref="accountService"></property>
    </bean>
    <bean id="springUtil" scope="singleton" class="top.yms.ui.SpringUtil"></bean>

    <aop:aspectj-autoproxy/>


    <bean id="test" class="top.yms.ui.aspect.TestBean">
        <property name="message" value="这是一个苦逼的程序员"/>
    </bean>
    <bean id="aspect" class="top.yms.ui.aspect.AspectJTest"/>


    <!-- 视图解析器对象 -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置自定义类型转换器-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="top.yms.util.StringToDateConverter"/>
            </set>
        </property>
    </bean>



    <!-- 开启SpringMVC框架注解的支持 -->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!--        <bean id="accountDao" scope="singleton" class="top.yms.dao.impl.AccountDaoImpl"></bean>-->

    <!--        <bean id="myBeanPostProcessor" scope="singleton" class="top.yms.ui.MyBeanPostProcessor"></bean>-->
</beans>